<section class="app-wrapper app-intro">
  <div class="app-container">
    <h1 class="app-intro__headline">Page not found</h1>
    <div class="panel-body">
      <p><a href="/" type="button" class="btn btn-success">Go to homepage</a></p>
    </div>
  </div>
</section>
