<h1>Users</h1>

<%= form_tag admin_users_path, method: :GET do %>
  <%= text_field_tag :q, params[:q], autofocus: true, style: 'width: 300px', placeholder: 'Email address' %>
  <input type="submit" value="Search" />
<% end %>

<ul>
<% users.each do |user| %>
  <li><%= link_to user.email, admin_user_path(user.id) %></li>
<% end %>
</ul>
<% if params[:q] && users.empty? %>
<p>
  None found
</p>
<% end %>
